---
import { Image } from "astro:assets";
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import WebflowContent from "../../components/WebflowContent.astro";
---

<DetailPostLayout
  title="Bucketheads"
  description="A mobile game designed to help people raise their media literacy through mini-games."
  keywords="mobile game,media literacy,fake news,educational game,UX design"
>
  <div class="post">
    <main class="post-wrapper">
      <DetailHeader
        tag="GAME DESIGN"
        description="Aug-Dec 2019">
        <h1 class="font-type">
          Bucketheads
        </h1>
      </DetailHeader>

      <!-- Hero Image -->
      <div class="hero-image-container">
        <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2035537e2df8ed69f3d9f_main.jpg" alt="Landing page of the game" class="hero-image"/>
      </div>

      <section class="project-content">
        <!-- Project Introduction -->
        <div class="intro-section">
          <div class="intro-content">
            <p class="intro-text">
              Bucketheads is a mobile game designed trying to help people to raise their media literacy.
            </p>
            <p class="intro-text">
              It has consisted of many different mini-games, in those games, our players can learn something about how to consume news also have some fun.
            </p>
          </div>
        </div>

        <!-- Project Details -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">My Role</h2>
            </div>
            <div class="column-right">
              <p class="section-description">As the game designer and UX developer, I researched about what are the elements one needs to differentiate different information and come up with game ideas based on the results found. I have also planned, organized, and conducted user tests at Oulu International School with more than 30 students.</p>
            </div>
          </div>
          
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">Goal</h2>
            </div>
            <div class="column-right">
              <p class="section-description">The goal of our team was to develop solutions in the fight against fake news. So we decided to make an educational mobile game that promotes media literacy.</p>
            </div>
          </div>
        </div>

        <!-- Gameplay Section -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">Gameplay</h2>
            </div>
            <div class="column-right">
              <div class="section-content">
                <p class="section-description">In the game, the player plays mini-games in random order. Difficulty level of those mini games increases the further player gets. Game ends when the player fails in three mini-games. The mini games are designed in such a way that behind them there is always a thought related to media literacy.</p>
              </div>
            </div>
          </div>
          
          <div class="game-screenshots">
            <div class="screenshot-row">
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e205ec962290f5559f3540_tv-news-game.jpg" alt="TV News Game" class="screenshot-image" />
              </div>
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2057d1141f7ad1bbb0017_detect-fake-url.jpg" alt="Detect Fake URL Game" class="screenshot-image" />
              </div>
            </div>
            <div class="screenshot-row">
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2054d81523f57aee5eaa3_Artboard_1%20(1).jpg" alt="Game Screenshot" class="screenshot-image" />
              </div>
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2056537e2df7fe49f4b55_potgame.jpg" alt="Pot Game" class="screenshot-image" />
              </div>
            </div>
            <div class="screenshot-row">
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2061737e2df7b3a9f4d35_choose-right-word.jpg" alt="Choose Right Word Game" class="screenshot-image" />
              </div>
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2063b607f036dfae2c099_Artboard_1.jpg" alt="Game Screenshot" class="screenshot-image" />
              </div>
            </div>
          </div>
        </div>

        <!-- Incentives Section -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">Incentives</h2>
            </div>
            <div class="column-right">
              <div class="section-content">
                <p class="section-description">
                  The game has an in-game currency system. New characters can be unlocked with the in-game currency.
                </p>
                <p class="section-description">
                  The player can obtain currency:<br>
                  -By playing the game and earning a score<br>
                  -Complete achievements<br>
                  -Watch ads
                </p>
              </div>
            </div>
          </div>
          
          <div class="game-screenshots">
            <div class="screenshot-row">
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20919e8f474f3c23f1028_stats.jpg" alt="Game Stats" class="screenshot-image" />
              </div>
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e2093c72a1c70d95111c57_store-profile.jpg" alt="Store Profile" class="screenshot-image" />
              </div>
            </div>
            <div class="screenshot-row">
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20957aa22ce5fc64c32b8_character-choose-buy.jpg" alt="Character Selection" class="screenshot-image" />
              </div>
              <div class="screenshot-item">
                <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20969607f034f7ae2e2ed_lifes-page-win.jpg" alt="Lives Page Win" class="screenshot-image" />
              </div>
            </div>
          </div>
        </div>

        <!-- Ideation Section -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">Ideation</h2>
            </div>
            <div class="column-right">
              <div class="section-content">
                <p class="section-description">
                  After having some ideas we draw them quickly on paper. We have found this is the most efficient way to document our random ideas and to communicate with graphic designers and developers.
                </p>
              </div>
            </div>
          </div>
          
          <div class="ideation-images">
            <div class="ideation-item">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20a1f4321b86a8247f6e5_%E5%9B%BE%E7%89%872.jpg" alt="Sketch 1" class="ideation-image" />
            </div>
            <div class="ideation-item">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20a2ef4a5e1654275c61c_%E5%9B%BE%E7%89%873.jpg" alt="Sketch 2" class="ideation-image" />
            </div>
            <div class="ideation-item">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20a4077c6d84d2e898ca8_%E5%9B%BE%E7%89%874.png" alt="Sketch 3" class="ideation-image" />
            </div>
          </div>
        </div>

        <!-- Promotion Section -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">Promotion</h2>
            </div>
            <div class="column-right">
              <div class="section-content">
                <p class="section-description">
                  In addition to creating accounts on social media platforms, we have also tried some other interesting methods trying to get potential players' tensions.
                </p>
                <p class="section-description">
                  For example, making these little banners and putting them all over our campus. We have also made our character by using a box and walking around.
                </p>
              </div>
            </div>
          </div>
          
          <div class="promotion-row">
            <div class="promotion-item wide">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20b1baa22cedcd04c3ee8_WeChat%20Screenshot_20220111165111.png" alt="Promotion Banner" class="promotion-image" />
            </div>
            <div class="promotion-item">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20b272dd2d570b0fe2728_WeChat%20Image_20220112150759.jpg" alt="Character Costume" class="promotion-image" />
            </div>
          </div>
        </div>

        <!-- User Test Section -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">User Test</h2>
            </div>
            <div class="column-right">
              <div class="section-content">
                <p class="section-description">
                  We conducted user tests at Oulu International school. After students have played the game they were asked to fill in a google form. Through the feedbacks we have got much great advice and here are the results of two questions which show that most of them like our game and they are willing to play it again.
                </p>
              </div>
            </div>
          </div>
          
          <div class="test-row">
            <div class="test-item wide">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20bb9e8f4740e353f185a_WeChat%20Screenshot_20220112152504.png" alt="User Test Results 1" class="test-image" />
            </div>
            <div class="test-item wide">
              <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e20bc4563b684d5b5abf20_WeChat%20Screenshot_20220112152311.png" alt="User Test Results 2" class="test-image" />
            </div>
          </div>
        </div>

        <!-- Conclusion Section -->
        <div class="content-section">
          <div class="two-column">
            <div class="column-left">
              <h2 class="section-title">Conclusion</h2>
            </div>
            <div class="column-right">
              <div class="section-content">
                <p class="section-description">
                  Even though it was only a 4 months project I really enjoyed the whole process. Coming up with good game ideas was hard and I remember we had so many moments that we were all exhausted. But it is all worths it! If we were given more time we would definitely be willing to develop more mini-games and make it a more complete game.
                </p>
              </div>
            </div>
          </div>
          
          <div class="conclusion-image">
            <img src="https://cdn.prod.website-files.com/61e1afcc293eac3233b2e17f/61e1b523910b4a335dc7c8d4_achi-icon.jpg" alt="Achievement Icons" class="conclusion-img" />
          </div>
        </div>
      </section>
    </main>
  </div>
</DetailPostLayout>

<style>
  /* Hero Image */
  .hero-image-container {
    width: 100%;
    margin: 2rem 0 3rem;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Project Content Container */
  .project-content {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Two-column layout */
  .two-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    align-items: start;
    margin-bottom: 2rem;
  }
  
  .column-left {
    position: sticky;
    top: 2rem;
  }
  
  .column-right {
    width: 100%;
  }
  
  /* Section Title Styling - Left aligned */
  .section-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-text);
    display: block;
    line-height: 1.3;
  }
  
  /* Section Description */
  .section-description {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--color-text);
    opacity: 0.9;
    margin-bottom: 1.5rem;
  }
  
  /* Introduction Section */
  .intro-section {
    background-color: var(--color-bg-secondary, rgba(255,255,255,0.03));
    border-radius: 12px;
    padding: 2.5rem;
    margin-bottom: 3rem;
    border: 1px solid var(--color-border, rgba(255,255,255,0.1));
  }
  
  .intro-text {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--color-text);
    margin-bottom: 1rem;
  }
  
  .intro-text:last-child {
    margin-bottom: 0;
  }
  
  /* Content Sections */
  .content-section {
    margin: 4rem 0;
  }
  
  .section-content {
    width: 100%;
  }
  
  /* Game Screenshots - Larger and with more space */
  .game-screenshots {
    margin-top: 2rem;
    width: 100%;
  }
  
  .screenshot-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .screenshot-item {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-border, rgba(255,255,255,0.1));
  }
  
  .screenshot-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Ideation Images - 3 in a row */
  .ideation-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2rem;
  }
  
  .ideation-item {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-border, rgba(255,255,255,0.1));
  }
  
  .ideation-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Promotion Images - adjusted for width differences */
  .promotion-row {
    display: flex;
    gap: 20px;
    margin-top: 2rem;
  }
  
  .promotion-item {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-border, rgba(255,255,255,0.1));
  }
  
  .promotion-item.wide {
    flex: 2;
  }
  
  .promotion-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Test Images - full width */
  .test-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
  }
  
  .test-item {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-border, rgba(255,255,255,0.1));
  }
  
  .test-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Conclusion Image */
  .conclusion-image {
    max-width: 345px;
    margin: 2rem auto;
    text-align: center;
  }
  
  .conclusion-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--color-border, rgba(255,255,255,0.1));
  }
  
  /* Responsive Adjustments */
  @media (max-width: 900px) {
    .two-column {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    
    .column-left {
      position: static;
      margin-bottom: 1rem;
    }
    
    .section-title {
      font-size: 1.6rem;
    }
    
    .screenshot-row, 
    .promotion-row {
      flex-direction: column;
    }
    
    .ideation-images {
      grid-template-columns: 1fr;
    }
    
    .intro-section {
      padding: 1.5rem;
    }
  }
</style>